
@{
    Layout = null;
}
@model List<SporMagazasi.Models.Model.Category>
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Decathlon</title>
    <!-- Bootstrap Core CSS -->
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/contact_me.js"></script>
    <script src="~/js/jqBootstrapValidation.js"></script>
    <script src="~/js/jquery.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/jqBootstrapValidation.js"></script>
    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/modern-business.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body style="background-color:#d9e7f6;">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/Admin/AddProduct/">Ürün Ekle<b class="caret"></b></a>

            </li>
            <li>
                <a href="/Admin/ProductList">Ürün Listele <b class="caret"></b></a>

            </li>
            <li>
                <a href="/Admin/AddCategory">Kategori Ekle <b class="caret"></b></a>

            </li>
            <li>
                <a href="/Admin/CategoryList">Kategori Listele <b class="caret"></b></a>

            </li>



        </ul>
    </div>
    <div>
        <table style="font-family:Calibri;font-size:15px;">
            <tr>
                <th>Kategori Adı&nbsp;&nbsp;</th>
                <th>Açıklama&nbsp;&nbsp;</th>

            </tr>
            @foreach (var item in Model)
            {
                <tr id="a_@item.CategoryID">
                    <td>@item.CategoryName&nbsp;</td>
                    <td>@item.Description&nbsp;</td>
                    <td><a href="/Admin/EditCategory/@item.CategoryID" name="name">Güncelle</a>&nbsp;</td>
                    <td></td>
                    <td><a href="#" name="name" onclick="Delete(@item.CategoryID)">Sil</a></td>
                </tr>




            }
        </table>
    </div>
</body>

</html>
<script>
    function Delete(id) {
        $.ajax({
            url: "/Admin/DeleteCategory/" + id,
            type: "POST",
            success: function () {
                alert("Kategori Silinmiştir")
                $("#a_" + id).fadeToggle();
            },
            error: function () {
                alert("Hata Oluştu");
            }
        })

    }
</script>
