
@{
    ViewBag.Title = "Bootstrap";
}

<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>Panel Başlığı</h1>
        </div>
        <div class="panel-body">
            <h2>Merhaba, Burası Panel alanı.</h2>
            <p>Merhaba Mert!</p>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>Panel Başlığı</h1>
        </div>
        <div class="panel-body">
            <h2>Merhaba, Burası Panel alanı.</h2>
            <p>Merhaba Mert!</p>
        </div>
    </div>
</div>