
@{
    ViewBag.Title = "UyeGirisIndex";
    Layout = "~/Views/Shared/AnasayfaLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <!-- Modal content-->
            <div class="modal-body modal-body-sub_agile">
                <div class="col-md-6 col-md-offset-3 modal_body_left modal_body_left1">
                    <h3 class="agileinfo_sign">Üye Girişi </h3>
                    <form action="#" method="post">
                        <div class="styled-input agile-styled-input-top">
                            <input type="text" name="KullaniciAdi" required="">
                            <label>Kullanıcı Adı</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="password" name="KullaniciSifre" required="">
                            <label>Şifre</label>
                            <span></span>
                        </div>
                        <input type="submit" value="GİRİŞ">
                        <hr />
                        <h5 style="color:darkred;border:1px solid red;">@ViewBag.LoginMesaj</h5>
                    </form>
                    <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                        <li>
                            <a href="#" class="facebook">
                                <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                                <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="instagram">
                                <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="pinterest">
                                <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <p><a href="/Uyeler/UyelerIndex" > Hesap Edinin??</a></p>

                </div>
                @*<div class="col-md-2 modal_body_right modal_body_right1">
                    <img src="~/Template/images/loginweb1.jpg" alt=" " />
                </div>*@
                <div class="clearfix"></div>
            </div>
            <!-- //Modal content-->
        </div>
    </div>
</div>

