
@{
    ViewBag.Title = "Bootstrap";
}

<ul class="nav navbar-nav">
    <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Services<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" id="myTab">
            <li role="presentation">
                <a href="#music" aria-controls="music" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-music"></span>Music & Dance
                </a>
            </li>
            <li class="divider"></li>
            <li role="presentation">
                <a href="#training" aria-controls="training" role="tab" data-toggle="tab">
                 <span class="glyphicon glyphicon-book"></span>Summer Training
                </a>
            </li>
           <li class="divider"></li>
            <li role="presentation">
                <a href="website" aria-controls="website" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-cloud"></span>Website Building
                </a>
            </li>
        </ul>
    </li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Career</a></li>
</ul>
