
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    Welcome @Session["Username"]
    <br />
    @Html.ActionLink("Logout", "Logout", "Account")
</body>
</html>
