@using ETicaret.BLL

@{
    MarkaManager markman = new MarkaManager();

}

<div class="community-poll">
    <h4>markalar</h4>
    <div class="swit form">
        @foreach (var item in markman.MarkaGetir())
        {
            <div class="check_box" >
                <div class="radio">
                    <label>
                        <input type="checkbox" name="radio" hidden="hidden">
                        <i></i>@item.MarkaAdi
                    </label>
                </div>
            </div>
        }
        <!--
      <input type="submit" value="SEND">
    -->

    </div>
</div>

